<!-- Icon Navigation -->
<li>
    <a class="group flex items-center hover:underline decoration-primary-500" href="{{ url }}"{{ if target }} target="{{ target }}"{{ /if }}>
        <div class="flex items-center justify-center shrink-0 bg-secondary-500 text-white h-6 w-6 md:h-7 md:w-7 rounded-full mr-3 group-hover:bg-primary-500 transition-colors duration-200 ease-in-out">
            {{ svg src="assets/layout/icons/solid/angle-right-solid" class="fill-current h-3 md:h-4" }}
        </div>
        {{ menu_text ?? title }}
    </a>
</li>
