{{ partial:layouts/contents/default }}

{{ if content }}
<div class="container max-w-screen-xxl mb-6">
    {{ content }}
    {{ partial:partials/contents/types }}
    {{ /content }}
</div>
{{ /if }}

<div class="container xxl:max-w-screen-xxl grid grid-cols-12 gap-y-6 sm:gap-8"
     x-data="accordion([{{ taxonomy from="team_tags" sort="slug:asc" }}'{{ slug replace="-|_" }}'{{ if !last }},{{ /if }}{{ /taxonomy }}], 'alle')">

    <div class="col-span-12 flex flex-wrap md:space-x-1">
        <button class="btn btn-secondary px-[8px] text-lg mb-1"
                :class="{'btn-tertiary': alle}"
                x-on:click="show('alle')">
            {{ titles:all_title }}
        </button>

        {{ taxonomy from="team_tags" sort="slug:asc" }}
        <button class="btn btn-secondary px-[7px] text-lg mb-1"
                :class="{'btn-tertiary': {{ slug replace="-|_" }}}"
                x-on:click="show('{{ slug replace="-|_" }}')">
            {{ title }}
        </button>
        {{ /taxonomy }}
    </div>

    {{ collection from="team" }}

    <div class="col-span-12 sm:col-span-6 lg:col-span-4 xl:col-span-3 {{ team_tags }}{{ slug }} {{ /team_tags }}"
         x-show="{{ team_tags }}{{ slug replace="-|_" }}{{ if !last }} || {{ /if }}{{ /team_tags }} || alle">
        <div class="bg-cover relative overflow-hidden group">

            <div
                class="{{ if hover_image }}group-hover:opacity-0{{ /if }} transition-opacity duration-300 ease-in-out relative z-1">
                {{ partial:partials/images/default
                image="{ image }"
                sizes="(min-width: 1470px) 25vw, (min-width: 1280px) 33vw, (min-width: 768px) 50vw, (min-width 640px) 100vw, 100vw"
                class="w-full" }}
            </div>

            {{ if hover_image }}
            {{ partial:partials/images/default
            image="{ hover_image }"
            sizes="(min-width: 1470px) 25vw, (min-width: 1280px) 33vw, (min-width: 768px) 50vw, (min-width 640px) 100vw, 100vw"
            class="w-full absolute inset-0 object-cover" }}
            {{ /if }}

            {{ if is_partner and work_experience }}
            <a href="{{ url }}" class="after:absolute after:inset-0 after:z-1"></a>
            {{ /if }}

            <div class="absolute bottom-0 text-center text-white w-full bg-gray-800/[.65] z-2 px-2">
                <p class="text-xxl font-bold text-tertiary-500 py-4">{{ title }}</p>
                <div class="overflow-hidden transition-all ease-in-out duration-300 max-h-0 group-hover:max-h-[1000px]">
                    <div>
						<p class="text-base">
							{{ if position }}<span class="block mb-1">{{ position }}</span>{{ /if }}
                            {{ if education }}<span class="block mb-1">{{ education }}{{ value }}{{ if not last }}, {{ /if }}{{ /education }}</span>{{ /if }}
                            {{ if workplace }}<span class="block mb-1">Arbeitsort: {{ workplace }}{{ value }}{{ if not last }}, {{ /if }}{{ /workplace }}</span>{{ /if }}
                        </p>
                        <p class="py-5 text-2xl text-tertiary-500 space-x-5">
                            {{ if phone }}
                            <a href="tel:{{ phone }}">
                                <i class="fa-solid fa-phone"></i>
                            </a>
                            {{ /if }}
                            {{ if linkedin }}
                            <a href="{{ linkedin }}" target="_blank">
                                <i class="fa-brands fa-linkedin-in"></i>
                            </a>
                            {{ /if }}
                            {{ if email }}
                            <a href="mailto:{{ email | obfuscate_email }}">
                                <i class="fa-solid fa-envelope"></i>
                            </a>
                            {{ /if }}
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>

    {{ /collection }}
</div>

{{ /partial:layouts/contents/default }}
