<div class="bg-white flex flex-col pb-[55px] relative">
    <div class="flex">
        <div class="text-white text-center leading-tight mr-3 self-start">
            <div class="bg-primary-500 px-3 pt-2 pb-1 text-xxl">{{ post_date format="d" }}<br>{{ post_date format="M" }}</div>
            <div class="bg-secondary-500 px-3 pt-1 pb-2 text-xl">{{ post_date format="Y" }}</div>
        </div>
        <div class="flex-grow pt-2 pr-4">
            <p class="text-3xl text-primary-500 tracking-tight leading-tight">
                {{ slot }}
                {{ title ?? '' }}
            </p>
        </div>
    </div>
    <div class="my-4 mx-6 bg-gray-800 h-[3px]"></div>
    <div class="px-6 pt-auto">
        <a href="{{ entry:url ?? url }}"
           class="text-tertiary-500 hover:text-tertiary-600 transition-colors ease-in-out duration-300 font-light after:absolute after:inset-0"
           target="_blank">
            {{ "Mehr erfahren" | trans }}
            <i class="fa-solid fa-arrow-right-long ml-5"></i>
        </a>
    </div>
</div>
