<h1>Kontaktanfrage</h1>
<p><b>Absender Datum:</b> {{ date }}</p>
<hr>
<p><b>Anrede:</b> {{ salutation }}<br>
<b>Vorname:</b> {{ first_name }}<br>
<b>Nachname:</b> {{ last_name }}<br>
<b>Telefon:</b> {{ phone }}<br>
<b>E-Mail:</b> {{ email }}<br>
<b>Firma:</b> {{ company }}<br>
<b>Feedback via:</b> {{ feedback }}<br>
<b>Interesse an:</b> {{ interests }}<br>
<b>Aufmerksam geworden via:</b> {{ source }}<br>
<b>Nachricht:</b> {{ user_message }}</p>
<hr>
<p><small>Diese Nachricht wurde über das Kontaktformular versendet.</small></p>
