<div class="prose-p:mb-8 prose-a:text-primary-500 hover:prose-a:text-primary-300 prose-a:duration-300 prose-a:transition-color prose-a:ease-in-out prose-strong:text-primary-500 prose-ul:mb-8 prose-li:pl-6 prose-li:mb-2 prose-li:relative prose-li:before:absolute prose-li:before:left-0 prose-li:before:top-[2px] prose-li:before:w-[22px] prose-li:before:h-[22px] prose-li:before:bg-[url('/assets/icons/list_small.png')] prose-li:before:bg-contain prose-li:before:bg-no-repeat prose-h2:m-0 prose-h2:py-4 prose-h3:m-0 prose-h3:py-4">
    {{ slot }}
</div>
