<!-- Form field -->
<div
    class="w-full {{ if width == 25 }}md:w-3/12{{ elseif width == 33 }}md:w-4/12{{ elseif width == 50 }}md:w-6/12{{ elseif width == 66 }}md:w-8/12{{ elseif width == 75 }}md:w-9/12{{ /if }} px-3 mb-6 md:mb-3 {{ classes }}">
    {{ if display }}<label for="{{ handle }}">{{ display }}{{ if display && validate|contains:required }} *{{ /if }}</label>{{ /if }}
    <div class="{{ if inline }}flex space-x-3{{ /if }}">{{ field }}</div>

    <span class="text-red-500 text-xs italic" x-show="errors['{{ handle }}']">
        <template x-for="error in errors['{{ handle }}']">
            <span x-text="error"></span>
        </template>
    </span>

    {{ if error }}
    <span class="text-red-500 text-xs italic">{{ foreach:error }}{{ value }}<br>{{ /foreach:error }}</span>
    {{ /if }}

</div>
