<div class="grid grid-cols-12 gap-y-6 lg:gap-8 prose-strong:text-white prose-a:!text-white">
    <div class="col-span-12 text-center sm:mb-[70px]">
        <h2 class="text-tertiary-500 mb-0">{{ titles:branches_title }}</h2>
    </div>

    <div class="col-span-12 xl:col-span-6 h-full">
        {{ partial:partials/boxes/default image="/assets/kontakt/zuerich.jpg" }}
        <div class="h-full flex flex-col text-base">
            <div>
                <p class="text-xxl"><strong class="!text-white">a&o kreston ag</strong></p>
                <p>Birmensdorferstrasse 123
                    <br>8003 Zürich / ZH
                    <br><br>Postadresse:
                    <br>Postfach 8417 | 8036 Zürich</p>
            </div>
            <div>
                <p>Tel: <a href="tel:0041581010202">+41 (0)58 101 02 02</a>
                    <br>E-Mail: <a href="mailto:hello@kreston.ch">hello@kreston.ch</a></p>
            </div>
            <div class="mt-auto">
                <a href="/assets/kontakt/anfahrt_kontakt_standort_zuerich.pdf"
                   target="_blank"
                   class="font-bold">
                    {{ titles:approach_title }} <i class="fa-solid fa-arrow-right-long ml-3"></i>
                </a>
            </div>
        </div>
        {{ /partial:partials/boxes/default }}
    </div>
    <div class="col-span-12 xl:col-span-6">
        {{ partial:partials/boxes/default image="/assets/kontakt/eschenbach.jpg" }}
        <div class="h-full flex flex-col text-base">
            <div>
                <p class="text-xxl"><strong class="!text-white">a&o kreston ag</strong></p>
                <p>Rothenburgstrasse 34
                    <br>6274 Eschenbach / LU</p>
            </div>
            <div>
                <p>Tel: <a href="tel:0041581010202">+41 (0)58 101 02 02</a>
                    <br>E-Mail: <a href="mailto:hello@kreston.ch">hello@kreston.ch</a></p>
            </div>
            <div class="mt-auto">
                <a href="/assets/kontakt/anfahrt_kontakt_standort_eschenbach.pdf"
                   target="_blank"
                   class="font-bold">
                    {{ titles:approach_title }} <i class="fa-solid fa-arrow-right-long ml-3"></i>
                </a>
            </div>
        </div>
        {{ /partial:partials/boxes/default }}
    </div>
    <div class="col-span-12 xl:col-span-6">
        {{ partial:partials/boxes/default image="/assets/kontakt/baden_daettwil.jpg" }}
        <div class="h-full flex flex-col text-base">
            <div>
                <p class="text-xxl"><strong class="!text-white">a&o kreston ag</strong></p>
                <p>Husmatt 1
                    <br>5405 Baden-Dättwil / AG</p>
            </div>
            <div>
                <p>Tel: <a href="tel:0041581010202">+41 (0)58 101 02 02</a>
                    <br>E-Mail: <a href="mailto:hello@kreston.ch">hello@kreston.ch</a></p>
            </div>
            <div class="mt-auto">
                <a href="/assets/kontakt/anfahrt_kontakt_standort_baden_daettwil.pdf"
                   target="_blank"
                   class="font-bold">
                    {{ titles:approach_title }} <i class="fa-solid fa-arrow-right-long ml-3"></i>
                </a>
            </div>
        </div>
        {{ /partial:partials/boxes/default }}
    </div>
    <div class="col-span-12 xl:col-span-6">
        {{ partial:partials/boxes/default image="/assets/kontakt/horgen.jpg" }}
        <div class="h-full flex flex-col text-base">
            <div>
                <p class="text-xxl"><strong class="!text-white">a&o kreston ag</strong></p>
                <p>Seestrasse 166
                    <br>8810 Horgen / ZH</p>
            </div>
            <div>
                <p>Tel: <a href="tel:0041581010202">+41 (0)58 101 02 02</a>
                    <br>E-Mail: <a href="mailto:hello@kreston.ch">hello@kreston.ch</a></p>

                <p>
                    <a href="#openingHoursHorgen"
                       data-fancybox=""
                       class="font-bold underline">Öffnungszeiten ab 1. Juni 2022</a>
                </p>
            </div>
            <div class="mt-auto">
                <a href="/assets/kontakt/anfahrt_kontakt_standort_horgen.pdf"
                   target="_blank"
                   class="font-bold">
                    {{ titles:approach_title }} <i class="fa-solid fa-arrow-right-long ml-3"></i>
                </a>
            </div>
        </div>
        {{ /partial:partials/boxes/default }}
    </div>

    <div id="openingHoursHorgen" style="display:none;max-width:700px; width:100%">
        <h3 class="">Neue Öffnungszeiten ab 1. Juni 2022:</h3>
        <table>
            <tr>
                <th class="text-left">Montag</th>
                <td>09 - 12.00 Uhr / 13.00 - 16.00 Uhr</td>
            </tr>
            <tr>
                <th class="text-left">Dienstag</th>
                <td>geschlossen</td>
            </tr>
            <tr>
                <th class="text-left">Mittwoch</th>
                <td>geschlossen</td>
            </tr>
            <tr>
                <th class="text-left">Donnerstag</th>
                <td>09 - 12.00 Uhr / 13.00 - 16.00 Uhr</td>
            </tr>
            <tr>
                <th class="text-left">Freitag</th>
                <td>geschlossen</td>
            </tr>
        </table>
    </div>

</div>
