<div
    class="bg-primary-500 px-8 pb-5 pt-4 prose-p:text-white porse:font-light text-base prose-a:text-white prose-strong:text-white">
    <div data-aos="fade-in" data-aos-one="true" data-aos-duration="1000">
        <h2 class="text-white mb-3">{{ titles:headquarters_title }}</h2>
        <p class="mb-3">a&o kreston audit ag</p>
        <img src="{{ glide src="/assets/kontakt/baar.jpg" }}" alt="Baar" class="mb-2">
        <p class="mb-5">Birmensdorferstrasse 123<br> 8003 Zürich</p>
        <p class="mb-3">Tel: <a href="tel:0041581010202" class="!text-white">+41 (0)58 101 02 02</a>
            <br>Fax: +41 (0)58 101 02 03
            <br>Email: <a href="mailto:hello@kreston.ch" class="!text-white">hello@kreston.ch</a></p>
        {{ partial:partials/buttons/default
        button_type="a"
        button_blank="true"
        button_link="/assets/kontakt/anfahrt_kontakt_standort_baar.pdf"
        button_color="white"
        button_text="{titles:approach_title}"
        button_classes="px-20 mx-auto text-tertiary-500 block" }}
    </div>
</div>
