<!-- Footer -->
<footer
    class="text-base group text-white prose-a:text-white prose-strong:text-white prose-p:text-white prose-h3:text-white prose-a:transition-colors prose-a:duration-300 prose-a:ease-in-out hover:prose-a:text-secondary-500">
    <div class="bg-gray-800 py-10 sm:py-[70px]">
        <div class="container xxl:max-w-screen-xxl grid grid-cols-12 gap-y-8 sm:gap-8">
            <div class="col-span-12 xl:col-span-6">
                <h3 class="pt-0 ">{{ titles:headquarters_title }}</h3>
                <div class="grid grid-cols-1 sm:grid-cols-2 sm:gap-8">
                    <div class="col-span-1 mb-4 sm:mb-0">
                        <p>a&o kreston ag<br>Schochenmühlestrasse 4<br>6340 Baar (ZG)</p>
                        <br>
                        <p>a&o kreston ag<br>Fohrhölzlistrasse 15<br>5430 Wettingen (AG)</p>
                    </div>
                    <div class="col-span-1">
                        <p>a&o kreston ag<br>Bändliweg 20<br>8048 Zürich (ZH)</p>
                    </div>
                </div>
            </div>
            {{#<div class="col-span-12 xl:col-span-9">
                <h3 class="pt-0 ">{{ titles:branches_title }}</h3>
                <div class="grid grid-cols-4 gap-y-8 sm:gap-8 w-full">
                    <div class="col-span-12 sm:col-span-2 lg:col-span-1">
                        <p>a&o kreston ag<br>Husmatt 1<br>5405 Baden-Dättwil/AG</p>
                    </div>
                    <div class="col-span-12 sm:col-span-2 lg:col-span-1">
                        <p>a&o kreston ag<br>Rothenburgstrasse 34<br>6274 Eschenbach/LU</p>
                    </div>
                    <div class="col-span-12 sm:col-span-2 lg:col-span-1">
                        <p>a&o kreston ag<br>Seestrasse 166<br>8810 Horgen/ZH</p>
                    </div>
                    <div class="col-span-12 sm:col-span-2 lg:col-span-1">
                        <p>a&o kreston ag<br>Birmensdorferstrasse 123<br>8003 Zürich/ZH</p>
                    </div>
                </div>
            </div>#}}
            <div class="col-span-12 xl:col-span-3">
                <h3 class="pt-0 ">{{ titles:contact_title }}</h3>
                <p class="mb-4">
                    Mail: <a href="mailto:hello@kreston.ch">hello@kreston.ch</a><br>
                    Tel: <a href="tel:0041581010202">+41 (0)58 101 02 02</a>
                </p>
                <div class="text-3xl flex space-x-6 items-center">
                    <a href="https://www.linkedin.com/company/aokrestonag/" class="hover:!text-linkedin-500"
                       target="_blank">
                        <i class="fa-brands fa-linkedin-in"></i>
                    </a>
                    <a href="https://www.instagram.com/ao_kreston/" class="hover:!text-instagram-500" target="_blank">
                        <i class="fa-brands fa-instagram"></i>
                    </a>
                    <a href="https://www.facebook.com/aokrestonag" class="hover:!text-facebook-500" target="_blank">
                        <i class="fa-brands fa-facebook-f"></i>
                    </a>
                    <a href="https://www.youtube.com/channel/UCdA70uQkxgncQ1ZUkuQ9X5w" class="hover:!text-youtube-500"
                       target="_blank">
                        <i class="fa-brands fa-youtube"></i>
                    </a>
                    <a href="https://twitter.com/kreston_ch" class="hover:!text-twitter-500" target="_blank">
                        <i class="fa-brands fa-twitter"></i>
                    </a>
                </div>
            </div>
            <div class="col-span-12 sm:col-span-6 xl:col-span-3 flex items-center self-center">
                <img src="{{ glide src="/assets/logos/carbon_connect.png" width="150" }}"
                     alt="Carbon Care"
                     class="max-w-[70px] mr-4">
                <p class="hidden sm:block">Klimafreundliche Website<br>Partner des 3 Millionen Bäume Projekts</p>
            </div>
            {{#<div class="col-span-12 sm:col-span-6 xl:col-span-3 self-center flex items-center">
                <img src="{{ glide src="/assets/logos/bitcoin.png" width="215" }}" alt="Bitcoin">
            </div> #}}
        </div>
    </div>

    <!-- Copyright -->
    <div class="bg-primary-500 py-2 lg:py-5 !text-sm lg:text-base xxl:text-lg hover:prose-a:text-gray-800">
        <div class="container xxl:max-w-screen-xxl grid grid-cols-12 gap-y-2 lg:gap-x-8">
            <div class="col-span-12 lg:col-span-6 text-center lg:text-left">© Copyright by A&O KRESTON. All rights
                reserved
            </div>
            <div class="col-span-12 lg:col-span-6 text-center lg:text-right">
                {{ nav:copyright scope="copyright" }}
                <a href="{{ copyright.url }}" target="{{ copyright.target }}">{{ copyright.menu_text ?? copyright.title }}</a>
                {{ if not copyright.last }}
                <span>|</span>
                {{ /if }}
                {{ /nav:copyright }}
            </div>
        </div>
    </div>

</footer>
