<div class="flex">
    <div class="w-1/2 bg-primary-500 text-white text-base flex flex-col pt-10 pb-8 pr-0 pl-5 relative">
        <p class="mb-8">“Mit der a&o kreston ag haben wir einen zuverlässigen Berater, der uns in allen
            steuerlichen und
            buchhalterischen Belangen mit grossem Engagement zur Seite steht. Die a&o kreston ag
            zeichnet
            sich durch Kompetenz, kurze Reaktions-zeiten und massgeschneiderte Dienstleistungen
            aus.”</p>

        <p class="mt-auto">
            <strong>Alexander Fischer</strong><br>
            <i>Swiss-Bellhotel du Parc Baden</i>
        </p>

        {{# <svg class="absolute -right-[150px] top-0"
                         height="100%"
                         width="120"
                         viewBox="0 0 120 100"
                         preserveAspectRatio="none"
                         shape-rendering="geometricPrecision">
                        <path d="M0,0 l40,50 l-40,50 h-110z" class="fill-secondary-500" /> #}}
        </svg>
    </div>
    <div class="w-1/2">
        <img src="{{ glide src="/assets/testimonials/alexander_fischer.jpg" width="500" }}"
             alt="Alexander Fischer"
             class="w-full h-full object-cover">
    </div>
</div>
